.navbar-menu {
  display: flex;
  height: 50px;
  align-items: center;
}

ul {
  margin: 0;
}

li {
  font-size: 25px;
  font-weight: bold;
  list-style-type: none;
  font-family: 'Permanent Marker', cursive;
}
